{
    "general":
    {
        "baseUrl" : "http://interstagedemo:49950/aa/",
        "tenant" : "Default",
        "appName" : "RandomWalk",
        "processDefinition" : 15,
        "baseProcessName" : "RandWkAutoTest_",
        "runningProcessCount" : "5",
        "taskCompletionInterval" : "3000"
    },
	"users":
	[
		{"name": "alex", "authString":"alex@example.com:Fujitsu1"},
		{"name": "betty", "authString":"betty@example.com:Fujitsu1"}
	]
}